
body {
background-image: url("imagesM9ZX2BLW.png.jpg.png");
background-size:cover;
background-repeat: no-repeat;





}

p {
  font-size: 15px;
  font-family: 'DM Serif Text', serif;
  color:violet;

}

head{
  font-size: 20px;
  font-family: 'Lobster', cursive;



}
.twt2 {
width:170px;
height:160px;
}
